*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper, .quick-create-event,
.import-events {
  zoom: 1;
}
.wrapper:after, .quick-create-event:after,
.import-events:after, .wrapper:before, .quick-create-event:before,
.import-events:before {
  content: "";
  display: table;
}
.wrapper:after, .quick-create-event:after,
.import-events:after {
  clear: both;
}

.wrapper {
  display: table;
  width: 80%;
  height: auto;
  margin: 50px auto;
  border: 1px solid #ccc;
}
.wrapper input[type="text"] {
  height: 35px;
  padding: 0 5px;
  border: 1px solid #ccc;
}

.quick-create-event,
.import-events {
  display: table-cell;
  height: 100%;
  padding: 20px;
}

.quick-create-event {
  width: 75%;
  border-right: 1px solid #ccc;
}
.quick-create-event button {
  width: 33.33333%;
}

.import-events {
  width: 25%;
  background: #eee;
}
.import-events > button {
  width: 100%;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 10px 0;
}

.event-name {
  width: 33.33333%;
  float: left;
  padding-right: 20px;
  margin-bottom: 20px;
}
.event-name input {
  width: 100%;
}

.datepicker {
  width: 66.66667%;
  float: left;
  margin-bottom: 20px;
}
.datepicker input {
  width: 45%;
  float: left;
}
.datepicker .datepicker-dash {
  width: 10%;
  float: left;
  text-align: center;
  height: 30px;
  line-height: 32px;
}

.event-type,
.event-template {
  width: 50%;
  float: left;
  padding-right: 50px;
}
.event-type input,
.event-template input {
  width: 100%;
}

button {
  height: 35px;
  background: #0090cb;
  color: #fff;
  border: none;
  float: left;
}

.choose-file {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 20px;
}
.choose-file input {
  width: 100%;
  padding-right: 50px;
}
.choose-file button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  padding: 0;
}
.choose-file button svg {
  fill: #fff;
}
